--
-- PostgreSQL database dump
--

\restrict um5bVRrH6avivnxDbM1l5Bi1dsb2tOBAE4RfgYEfdxYVu4VqFgYj6ekRyCVf0sM

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    action character varying NOT NULL,
    entity character varying NOT NULL,
    description character varying NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now() NOT NULL,
    "userId" uuid
);


ALTER TABLE public.activity_logs OWNER TO postgres;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assignments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "teacherId" character varying NOT NULL,
    "teacherName" character varying NOT NULL,
    "studentId" character varying NOT NULL,
    "studentName" character varying NOT NULL,
    questions json NOT NULL,
    answers json,
    status character varying DEFAULT 'assigned'::character varying NOT NULL,
    "assignedAt" timestamp with time zone NOT NULL,
    "submittedAt" timestamp with time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.assignments OWNER TO postgres;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    class_name character varying NOT NULL,
    section character varying NOT NULL,
    "roomNumber" character varying,
    capacity integer DEFAULT 40 NOT NULL,
    "teacherId" uuid,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.classes OWNER TO postgres;

--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    "rollNo" character varying,
    email character varying NOT NULL,
    name character varying NOT NULL,
    class character varying,
    phone character varying,
    gender character varying,
    dob timestamp without time zone,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teachers (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying,
    subject character varying,
    qualification character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teachers OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying NOT NULL,
    "fullName" character varying NOT NULL,
    password character varying NOT NULL,
    role character varying DEFAULT 'user'::character varying NOT NULL,
    phone character varying,
    subject character varying,
    qualification character varying,
    "rollNumber" character varying,
    "className" character varying,
    section character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assignments (id, "teacherId", "teacherName", "studentId", "studentName", questions, answers, status, "assignedAt", "submittedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.classes (id, class_name, section, "roomNumber", capacity, "teacherId", "createdAt", "updatedAt") FROM stdin;
43095358-95d6-43ea-a62f-7b6451b9d804	Test Class	A	101	40	\N	2026-08-04 10:03:52.630291	2026-08-04 10:03:52.630291
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.students (id, "rollNo", email, name, class, phone, gender, dob, "createdAt", "updatedAt") FROM stdin;
accdb2b6-e523-4b21-b6f2-6b2e38f1ed62	123	tayabodla786@gmail.com	tayyab	class 10	03070436858	\N	\N	2026-08-03 12:22:06.803718	2026-08-03 12:22:06.803718
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teachers (id, name, email, phone, subject, qualification, "createdAt", "updatedAt") FROM stdin;
7ec76fda-7985-4a8b-b50f-4ddbae7659dc	Route Test Teacher	route.teacher@example.com	03001234567	Physics	MSc	2026-08-04 10:19:09.943442	2026-08-04 10:19:09.943442
ce11bbad-0887-4d1b-8b46-b5aaed1c0b5c	usama	usama@gmail.com	03070436858	Math	MA	2026-08-04 10:28:25.732328	2026-08-04 10:28:25.732328
ec00cad7-0fa7-46cd-a3fa-151c766bf892	haseeb	haseeb@gmail.com	+923070436858	\N	MA	2026-08-04 11:58:02.80581	2026-08-04 11:58:02.80581
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: students PK_7d7f07271ad4ce999880713f05e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT "PK_7d7f07271ad4ce999880713f05e" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: teachers PK_a8d4f83be3abe4c687b0a0093c8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT "PK_a8d4f83be3abe4c687b0a0093c8" PRIMARY KEY (id);


--
-- Name: assignments PK_c54ca359535e0012b04dcbd80ee; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT "PK_c54ca359535e0012b04dcbd80ee" PRIMARY KEY (id);


--
-- Name: classes PK_e207aa15404e9b2ce35910f9f7f; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "PK_e207aa15404e9b2ce35910f9f7f" PRIMARY KEY (id);


--
-- Name: activity_logs PK_f25287b6140c5ba18d38776a796; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "PK_f25287b6140c5ba18d38776a796" PRIMARY KEY (id);


--
-- Name: students UQ_25985d58c714a4a427ced57507b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT "UQ_25985d58c714a4a427ced57507b" UNIQUE (email);


--
-- Name: teachers UQ_7568c49a630907119e4a665c605; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT "UQ_7568c49a630907119e4a665c605" UNIQUE (email);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: students UQ_c39c7624e1edba20c889725a61d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT "UQ_c39c7624e1edba20c889725a61d" UNIQUE ("rollNo");


--
-- Name: classes FK_4b7ac7a7eb91f3e04229c7c0b6f; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT "FK_4b7ac7a7eb91f3e04229c7c0b6f" FOREIGN KEY ("teacherId") REFERENCES public.users(id);


--
-- Name: activity_logs FK_597e6df96098895bf19d4b5ea45; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT "FK_597e6df96098895bf19d4b5ea45" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict um5bVRrH6avivnxDbM1l5Bi1dsb2tOBAE4RfgYEfdxYVu4VqFgYj6ekRyCVf0sM

